@model VmDormantRegisterData
@{
    await Html.RenderPartialAsync("GBRegistersMenu");
    var search = ViewBag.search;
}
<div class="d-flex">
    @{
        await Html.RenderPartialAsync("_DormantLeftMenu");
    }
    <div class="right_side_content bg-lightorangecolor">
        <br />
        <h2 style="text-align:center;color:#b46000">View Dormant Register Entries</h2>
       <br />
        <div class="col-lg-5" style="padding-left:8px">
            <div class="form-group">
                <label for="Options">Options</label>
                <select class="form-control" id="sel">
                    <option selected>Options</option>
                    <option value="1">Account</option>
                    <option value="2">Date</option>
                    <option value="3">Status</option>
                </select>
            </div>
        </div>
        <br />
        <div>
            <form asp-action="ViewDormantRegister" method="get">
                <div class="col-lg-5" style="padding-left:5px">
                    <div class="form-group" id="Status">
                        <label for="Status">Status</label>
                        <select name="EntryStatusId" asp-for="Id" class="form-control" asp-route-id="Id"
                                asp-items="@(new SelectList(Model.EntityStatusVMs,"Id","Name"))">
                            <option selected>Select Status</option>
                        </select>
                        <br />
                        <div style="margin-left:650px;margin-top:-60px;">
                            <input type="submit" value="Search" class="btn-primary ms-0" style="height: 30px;" />
                            @*<input type="date" />*@
                        </div>
                    </div>
                </div>
                <br />
                <br />
                @* <br />
                <a asp-action="AddDormantRegister" style="margin-left:30px" class="btn btn-primary">AddDormant</a>
                <br />*@
                <div id="No" style="margin-left:620px;margin-top:-100px;">
                    @Html.TextBox("search")
                    <input type="submit" value="Search" class="btn-primary ms-0" style="height: 30px;" />
                </div>
            </form>
        </div>
        <br />
        @{
            var dormants = ViewBag.result;
            Pager pager = new Pager();
            int pageNo = 0;
            if (ViewBag.Pager != null)
            {
                pager = ViewBag.Pager;
                pageNo = pager.CurrentPage;
            }
        }
        <form>
            <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr class="table-active">
                        @*<th>RecordId</th>*@
                        <th>DateRequested</th>
                        <th>AcctNumber</th>
                        <th>Name</th>
                        @*  <th>PreviousBalance</th>*@
                        <th>Particulars</th>
                        @*  <th>InitialIdEmployee</th>
                        <th>ReactivateIdEmployee</th>*@
                        <th>DatePerformed</th>
                        @*<th>EntryStatusId</th>*@
                        @* <th>AcctTypeId</th>
                        <th>CoreBranchNumber</th>*@
                        @*<th>IssuingDeptId</th>*@
                        <th>AcctStatus</th>
                        <th>AcctType</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var dormant in dormants)
                    {
                        <tr>
                           @* <td>@dormant.RecordId</td>*@
                            <td>@dormant.DateRequested</td>
                            <td>@dormant.AcctNumber</td>
                            <td>@dormant.Name</td>
                            @* <td>@dormant.PreviousBalance</td>*@
                            <td>@dormant.Particulars</td>
                            @* <td>@dormant.InitialIdEmployee</td>
                        <td>@dormant.ReactivateIdEmployee</td>*@
                            <td>@dormant.DatePerformed</td>
                            @*<td>@dormant.EntryStatusId</td>*@
                            @*<td>@dormant.AcctTypeId</td>
                        <td>@dormant.CoreBranchNumber</td>*@
                            @* <td>@dormant.IssuingDeptId</td>*@
                            <td>@dormant.AcctStatus</td>
                            <td>@dormant.AcctType</td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <a asp-controller="DormantRegister" asp-action="UpdateDormantRegister" asp-route-RecordId="@dormant.RecordId"
                                       class="btn btn-primary">Edit</a> |
                                     <a asp-controller="DormantRegister" asp-action="DeleteDormantRegister" asp-route-RecordId="@dormant.RecordId" onclick="return confirm('Are you sure you want to delete?')"
                                      class="btn btn-danger">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </form>
        <div class="container">
            @if (pager.TotalPages > 0)
            {
                <ul class="pagination justify-content-end mt-4">

                    @if (pager.CurrentPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="DormantRegister" asp-action="ViewDormantRegister"
                       asp-route-pg="1">First</a>
                        </li>
                        <li>
                            <a class="page-link" asp-controller="DormantRegister" asp-action="ViewDormantRegister"
                       asp-route-pg="@(pager.CurrentPage -1)">Previous</a>
                        </li>
                    }

                    @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                    {
                        <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                            <a class="page-link" asp-controller="DormantRegister" asp-action="ViewDormantRegister"
                       asp-route-pg="@pge">@pge</a>
                        </li>
                    }

                    @if (pager.CurrentPage < pager.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="DormantRegister" asp-action="ViewDormantRegister"
                       asp-route-pg="@(pager.CurrentPage +1)">Next</a>
                        </li>
                        <li>
                            <a class="page-link" asp-controller="DormantRegister" asp-action="ViewDormantRegister"
                       asp-route-pg="@(pager.TotalPages)">Last</a>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

@section scripts {
    <script type="text/javascript">
        $('#Num').show();
        $('#Status').hide();
        $(document).ready(function () {
            $("#sel").change(function () {
                if ($(this).val() == "1") {
                    $('#Status').hide();
                    $("#No").show();
                } else {
                    $("#No").show();
                }
                if ($(this).val() == "3") {
                    $('#No').hide();
                    $("#Status").show();
                } else {
                    $("#Status").hide();
                }
            });
        });
    </script>
    }