@model GbRegister.Core.ViewModel.ForeignCheckVm
<link href="~/css/link.css" rel="stylesheet" />

<link href="~/css/link.css" rel="stylesheet" />
<style>
    .custom_navbars_link {
        background-color: #fae9d9;
        border-bottom: 2px solid #efd0b2
    }

        .custom_navbars_link .navbar-brand {
            color: #000;
        }

        .custom_navbars_link .navbar-nav .nav-link {
            color: #000;
            font-size: 14px
        }

        .custom_navbars_link ul .nav-link img {
            max-width: 40px;
        }

    .customfooter {
        background-color: #002c36;
        text-align: center;
        color: #fff;
        height: 60px;
        vertical-align: bottom;
        padding-top: 15px;
    }

</style>
<div class="custom_navbars_link">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">GB Registries</a>
            @*<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>*@
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        @*  <a class="btn btn-primary" asp-controller="FrgnChks" asp-action="Index">Foreign Checks</a>*@
                        @*  <a class="nav-link active" asp-controller="DormantRegister" asp-action="Index">Dormant Register</a>*@
                    </li>
                    <li class="nav-item">

                        <a class="nav-link active" asp-controller="FrgnChks" asp-action="Index">Foreign Checks</a>
                    </li>
                </ul>
                <ul class="ml-0">
                    <li class="nav-item">
                        <a class="nav-link p-0" href="#"><img src="~/Image/help.png" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="d-flex">
    <div id="sidebar-wrapper" class="side_bar_custom">
        <div class="mt-4">
            <a input type="submit" name="ctl00$ctl00$GB_Reg_Parent_Mstr_ContPlaceHolder$btnNewSection" value="New Batch" id="GB_Reg_Parent_Mstr_ContPlaceHolder_btnNewSection" class="btn-no-style" asp-action="AddFrgnCheck">New Batch</a>
            <a input type="submit" name="ctl00$ctl00$GB_Reg_Parent_Mstr_ContPlaceHolder$btnUpdateSection" value="Update Batch" id="GB_Reg_Parent_Mstr_ContPlaceHolder_btnUpdateSection" class="btn-no-style" asp-action="UpdateFrgn">Update Batch</a>
            <a input type="submit" name="ctl00$ctl00$GB_Reg_Parent_Mstr_ContPlaceHolder$btnViewSection" value="View Batch" id="GB_Reg_Parent_Mstr_ContPlaceHolder_btnViewSection" class="btn-no-style" asp-controller="frgnChks" asp-action="View">View Batch</a>
        </div>
    </div>
    <div class="right_side_content bg-lightorangecolor">
        <h2 class="main_heading">New Foreign Checks Batch</h2>

        <div class="middle-content-sec">
            <div>
                <form asp-action="AddFrgnCheck" method="post">
                    <div class="row align-items-end">
                        <input type="hidden" asp-for="BatchId" />
                        <input type="hidden" asp-for="TotalAmount" />
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-label">Banks</label>
                                <select class="form-select" asp-for="BankId"
                                        asp-items="@(new SelectList(Model.BanksList,"BankId","BankName"))">
                                    <option value="">----Select Banks-----</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-label" asp-for="DateRecived">Date From</label>
                                <input type="date" asp-for="DateRecived" class="form-control" />
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="TotalAmount" class="form-label"></label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">$</span>
                                    <input value="@Model.TotalAmount" asp-for="TotalAmount" class="form-control" aria-describedby="basic-addon1" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-3">


                            <div class="d-flex align-items-center flex-column gap-2">
                                <button type="submit" id="savBatchbtn" name="actionbtn" value="batchHeader" class="btn btn-primary main_btn w-100">Save Batch Header</button>
                                @*  <button type="submit" name="actionbtn" value="saveCheck" class="btn btn-primary main_btn w-100">Close Batch</button>*@
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <span asp-validation-for="BankId" class="text-danger col-3"></span>
                        <span asp-validation-for="DateRecived" class="text-danger col-3"></span>
                        <span asp-validation-for="TotalAmount" class="text-danger col-3"></span>
                        <span class="col-3"></span>

                    </div>
                    <div class="spl">

                        <div class="demo">
                            @{
                                if (Model.BatchId > 0)
                                {
                                    <button type="button" id="btnAdd" class="buttonRemoveCss" onclick="showdiv()">Add New Check</button>
                                }
                            }
                            <a href="" class="text-end">Refresh</a>
                        </div>


                        @if (Model.BatchId > 0)
                        {
                            <div class="b-demo-content" style="display: none;" id="AddfrgnCheck">
                                <div class="row mb-3">
                                    <div class="col-lg-4 mb-lg-3 mb-md-3">
                                        <div class="form-group">
                                            <label class="form-label form-label-cust" asp-for="CheckNumber"></label>
                                            <input asp-for="CheckNumber" class="form-control form-control-cust" />
                                            <span asp-validation-for="CheckNumber" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 mb-lg-3 mb-md-3">
                                        <div class="form-group">
                                            <label class="form-label form-label-cust" asp-for="PayerAcctNumber"></label>
                                            <input asp-for="PayerAcctNumber" class="form-control form-control-cust" />
                                            <span asp-validation-for="PayerAcctNumber" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 mb-lg-3 mb-md-3">
                                        <div class="form-group">
                                            <label class="form-label form-label-cust" asp-for="PayerAcctName"></label>

                                            <input asp-for="PayerAcctName" class="form-control form-control-cust" />
                                            <span asp-validation-for="PayerAcctName" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 mb-lg-3 mb-md-3">
                                        <div class="form-group">
                                            <label class="form-label form-label-cust" asp-for="DepositAcctNumber"></label>

                                            <input asp-for="DepositAcctNumber" class="form-control form-control-cust" />
                                            <span asp-validation-for="DepositAcctNumber" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 mb-lg-3 mb-md-3">
                                        <div class="form-group">
                                            <label class="form-label form-label-cust" asp-for="DepositAcctName"></label>

                                            <input asp-for="DepositAcctName" class="form-control form-control-cust" />
                                            <span asp-validation-for="DepositAcctName" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 mb-lg-3 mb-md-3">
                                        <div class="form-group">
                                            <label class="form-label form-label-cust" asp-for="CheckAmount"></label>

                                            <input asp-for="CheckAmount" class="form-control form-control-cust" />
                                            <span asp-validation-for="CheckAmount" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-12 mt-1">
                                        <div class="d-flex justify-content-center gap-2">
                                            <button type="submit" name="actionbtn" value="saveCheck" class="btn btn-primary main_btn rounded-0">Save Check</button>
                                            <button type="submit" name="" value="saveCheck" class="btn btn-primary cancel_btn rounded-0">Cancel</button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="table-responsive scroll_table">
                                <table class="table custom_tble" id="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="col_w1">Check Number</th>
                                            <th scope="col">Payer Account</th>
                                            <th scope="col">Payer Name</th>
                                            <th scope="col" class="col_w2">Deposit Account</th>
                                            <th scope="col">Depositor's Name</th>
                                            <th scope="col">Check Amount</th>
                                            <th scope="col">#</th>
                                        </tr>
                                        @* <label class="form-label checkHeader">CheckNumber</label>
                                    <label class="form-label checkHeader">Payer Account</label>
                                    <label class="form-label checkHeader">Payer Name</label>
                                    <label class="form-label checkHeader">Deposit Account</label>
                                    <label class="form-label checkHeader">Depositor's Name</label>
                                    <label class="form-label checkHeader">Check Amount</label> *@

                                    </thead>
                                    <tbody>
                                        @{
                                            if (Model.checksList != null)
                                            {
                                                foreach (var item in Model.checksList)
                                                {
                                                    <tr>


                                                        <td>
                                                            <input type="hidden" asp-for="@item.RecordId">
                                                            <input type="text" value="@item.CheckNumber" class="form-control custom_box" asp-for="@item.CheckNumber" />
                                                        </td>
                                                        <td>
                                                            <input type="text" value="@item.PayerAcctNumber" class="form-control custom_box" asp-for="@item.PayerAcctNumber" />
                                                        </td>
                                                        <td>
                                                            <input type="text" value="@item.PayerAcctName" class="form-control custom_box" asp-for="@item.PayerAcctName" />
                                                        </td>
                                                        <td>
                                                            <input type="text" value="@item.DepositAcctNumber" class="form-control custom_box" asp-for="@item.DepositAcctNumber" />
                                                        </td>
                                                        <td>
                                                            <input type="text" value="@item.DepositAcctName" class="form-control custom_box" asp-for="@item.DepositAcctName" />
                                                        </td>
                                                        <td>
                                                            <input type="text" value="@item.CheckAmount" class="form-control custom_box" asp-for="@item.CheckAmount" />
                                                        </td>
                                                        <td>
                                                            <a href="javascript:void(0)" class="edit_icon"><i class="fa-solid fa-pencil"></i></a>

                                                            <div class="d_none">
                                                                <div class="d-flex align-items-center gap-2">
                                                                    <a href="javascript:void(0)" class="check_icon" onclick="UpdateFrgnCheck(this)"><i class="fa-regular fa-circle-check"></i></a>
                                                                    <a href="javascript:void(0)" class="close_icon"><i class="fa-solid fa-xmark"></i></a>
                                                                </div>
                                                            </div>

                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<link href="~/css/link.css" rel="stylesheet" />
<script src="~/js/frgncheck.js"></script>

@section Scripts{
    <script asp-append-version="true" src="~/js/FrgnCheck.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>


    <script>
        $(document).ready(function () {
            $(".edit_icon").click(function () {
                $(this).parent().parent().addClass("active");
            });
            $(".check_icon, .close_icon").click(function () {
                $("tr").removeClass("active");
            });
        });
    </script>
}




