@model Standing_Order_Vat_App.Common.ViewModels.FrgnViewCheckVm
@{
    ViewData["Title"] = "Update";
    await Html.RenderPartialAsync("GBRegistersMenu");
}
<div class="d-flex">
    @{
        await Html.RenderPartialAsync("_FrgnChecksLeftMenu");
    }
    <div class="right_side_content bg-lightorangecolor w-100">
        <br />
        <h2 style="text-align:center;color:#b46000">Update Foreign Checks Batches</h2>
        <br />
        <br />


        <form method="post" asp-action="UpdateFrgn" asp-controller="FrgnChks" class="p-4">
            <div class="row align-items-end">
                <div class="col-3">
                    <div class="form-group mb-3">
                        <label for="Options" class="d-block">Options</label>
                        <select class="form-select" asp-for=Options id="sel" onchange="Banksanddate()">
                            <option value="">--- Select ---</option>
                            <option value="1">Bank & Date</option>
                            <option value="2">Date</option>
                            <option value="3">Entry Status</option>
                        </select>
                    </div>
                </div>

                <div class="col-3" id="sele">
                    <div class="form-group mb-3">
                        <label class="d-block">Banks</label>
                        <select id="Select1" asp-for=Banks class="form-select" asp-items="@(new SelectList(Model.bankList,"BankId", "BankName"))">
                            <option value="">--- Select ---</option>
                        </select>

                    </div>
                </div>
                <div class="col-3" id="selec">
                    <div class="form-group mb-3">
                        <label class="d-block">Status</label>

                        <select id="Select2" asp-for=Status class="form-select" asp-items="@(new SelectList(Model.entryStatusVM,"StatusId", "StatusName"))">
                            <option value="">--- Select ---</option>
                        </select>
                    </div>
                </div>

                <div class="col-3" id="datef">
                    <div class="branch mb-3">
                        <label class="date-from d-block" for="inlineFormCustomSelect">Date From:</label>
                        <input type="date" style="width:100%;height: 38px;" class="form-select" asp-for="From" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="branch mb-3" id="datet">
                        <label class="ms-auto d-block" for="inlineFormCustomSelect">Date To:</label>
                        <input type="date" style="width:100%;height: 38px;" class="form-select" asp-for="To" />
                    </div>
                </div>

                <div class="col-3">
                    <div class="mb-3">
                        <input type="submit" class="btn btn-primary main_btn  h-auto w-100" value="Search" asp-controller="FrgnChks" asp-action="UpdateFrgn" />
                    </div>
                </div>
            </div>
        </form>
        @if ((Model.FrgnCheckListRecVms != null && Model.FrgnCheckListRecVms.Count > 0) || (Model.FrgncheckListIncompletes != null && Model.FrgncheckListIncompletes.Count > 0))
        {
            <div class="spl">
                <div style="height: 420px;overflow-y: auto;">
                    <div class="table-responsive">
                        <table class="table custom_tble" id="table">
                            <thead>
                                <tr class="table-active">
                                    <th></th>
                                    <th>Date Received</th>
                                    <th>Date Payment Requested</th>
                                    <th>Bank</th>
                                    <th>Date Processed</th>
                                    <th>Total</th>
                                    <th>Entered By</th>
                                    <th>Check For Settlement</th>
                                    <th scope="col">#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Status == 1)
                                {
                                    @foreach (var dormant in Model.FrgncheckListIncompletes)
                                    {
                                        <tr id="batchDetails">
                                            <td><i class="fa-solid fa-arrow-right fa-2xl" onclick="ShowBatchDetails(@dormant.BatchId,'checklist',this)" data-bs-toggle="collapse" href="#ShowBAtchCheckList" role="button" aria-expanded="false" aria-controls="ShowBAtchCheckList"></i></td>
                                            <td>
                                                @Html.Raw(dormant.DateReceived.ToString() == "01-01-0001 12.00.00 AM" ? "<p class='text-center'>_</p>" : dormant.DateReceived.ToShortDateString())
                                            </td>
                                            <td>
                                                <input type="date" asp-for="@dormant.DatePaymentRequested" class="form-control custom_box" value="@Html.Raw(dormant.DatePaymentRequested.ToString() == "01-01-0001 12.00.00 AM" ? "_" : Convert.ToDateTime(dormant.DatePaymentRequested).ToShortDateString() )" />
                                            </td>
                                            <td>@dormant.BankName</td>
                                            <td>@dormant.DateProcessed.ToShortDateString()</td>
                                            <td>@dormant.BatchTotal</td>
                                            <td>@dormant.ProcessName</td>
                                            <td><input type="checkbox" id="settleBatch" class="form-check" name="@dormant.BatchId"></td>
                                            <td>
                                                <div class="d-flex">
                                                    <a href="javascript:void(0)" class="edit_icon" >
                                                        <i class=" fa-regular fa-pen-to-square"></i>
                                                    </a>
                                                    <a href="javascript:void(0)" onclick="DeleteBatch(@dormant.BatchId,this)" class="edit_icon"><i class="fa-solid fa-trash"></i></a>
                                                </div>
                                                <div class="d_none">
                                                    <div class="d-flex align-items-center gap-2">
                                                        <a href="javascript:void(0)" class="check_icon" onclick="UpdateDatePaymentRequest(@dormant.BatchId,this)"><i class="fa-regular fa-circle-check"></i></a>
                                                        <a href="javascript:void(0)" class="close_icon"><i class="fa-solid fa-xmark"></i></a>
                                                    </div>
                                                </div>
                                            </td>
                                            @*<td><a href=" asp-controller="FrgnChks" asp-action="DeletefrgnCheck" asp-route-batchid="@dormant.BatchId">Delete</a></td>*@
                                        </tr>

                                    }
                                }
                                else
                                {
                                    @foreach (var dormant in Model.FrgnCheckListRecVms)
                                    {
                                        <tr id="batchDetails">
                                            <td><i class="fa-solid fa-arrow-right fa-2xl" onclick="ShowBatchDetails(@dormant.BatchId,'checklist',this)" data-bs-toggle="collapse" href="#ShowBAtchCheckList" role="button" aria-expanded="false" aria-controls="ShowBAtchCheckList"></i></td>
                                            <td>
                                                @Html.Raw(dormant.DateReceived.ToString() == "01-01-0001 12.00.00 AM" ? "<p class='text-center'>_</p>" : dormant.DateReceived.ToShortDateString())
                                            </td>
                                            <td>
                                                <input type="date" asp-for="@dormant.DatePaymentRequested" class="form-control custom_box" value="@Html.Raw(dormant.DatePaymentRequested.ToString() == "01-01-0001 12.00.00 AM" ? "_" : dormant.DatePaymentRequested.ToShortDateString() )" />
                                            </td>
                                            <td>@dormant.BankName</td>
                                            <td>@dormant.DateProcessed.ToShortDateString()</td>
                                            <td>@dormant.BatchTotal</td>
                                            <td>@dormant.ProcessName</td>
                                            <td><input type="checkbox" id="settleBatch" class="form-check" name="@dormant.BatchId"></td>
                                            <td>
                                                <div class="d-flex">
                                                    <a href="javascript:void(0)" class="edit_icon">
                                                        <i class="fa-regular fa-pen-to-square"></i>
                                                    </a>
                                                    <a href="javascript:void(0)" onclick="DeleteBatch(@dormant.BatchId,this)" class="edit_icon"><i class="fa-solid fa-trash"></i></a>
                                                </div>
                                                <div class="d_none">
                                                    <div class="d-flex align-items-center gap-2">
                                                        <a href="javascript:void(0)" onclick="UpdateDatePaymentRequest(@dormant.BatchId,this)" class="check_icon"><i class="fa-regular fa-circle-check"></i></a>
                                                        <a href="javascript:void(0)" class="close_icon"><i class="fa-solid fa-xmark"></i></a>
                                                    </div>
                                                </div>
                                            </td>
                                            @*<td><a href=" asp-controller="FrgnChks" asp-action="DeletefrgnCheck" asp-route-batchid="@dormant.BatchId">Delete</a></td>*@
                                        </tr>

                                    }
                                }



                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        }
        else if (Model.Status > 0)
        {
            <div class="spl">
                <div style="height: 420px;overflow-y: auto;border-top: 2px solid #000;">
                    <div class="table-responsive">
                        <table class="table custom_tble">
                            <thead>
                                <tr>
                                    <th>Date Received</th>
                                    <th>Date Payment Requested</th>
                                    <th>Date Processed	</th>
                                    <th>Bank</th>
                                    <th>Total</th>
                                    <th>Entered By</th>
                                    <th>Check For Settlement</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="7" class="text-center">
                                        No Record Found
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section scripts {

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    <script src="~/js/cascade.js" asp-append-version="true"></script>
    <script src="~/js/FrgnCheck.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".edit_icon").click(function () {
                $(this).parents("tr").addClass("active");
            });
            $(".check_icon, .close_icon").click(function () {
                $("tr").removeClass("active");
            });
            Banksanddate()
            $('#sel').show();
            $('#Banks').hide();
            $('#table').DataTable();
            $("#table_filter").remove();
            $("#table_info").remove();
            $(".dataTables_length").addClass("settlebtn");
            $("#table_length").addClass("m-2");
            let settleButton = '<div class="me-3"><input type="button" class="btn btn-primary main_btn  h-auto w-100" onclick="SettleBatch()" value="Settle Batch"/></div>'
            $("#table_length").append(settleButton);
        });  
    </script>
}
