@model List<Standing_Order_Vat_App.Common.ViewModels.StandingOrder_VM>


<div class="container">
    
    <div style="width:90%; margin:0 auto;">
        <table id="example" class="table table-striped table-bordered dt-responsive nowrap tblsize" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Branch</th>
                    <th>Date Active</th>
                    <th>Account</th>
                    <th>Offset Acct Number</th>
                    <th>Total Fees</th>
                    <th>National Fees</th>
                    <th>Vat</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.BranchNumber</td>
                        <td>@item.DateActive?.ToString("MM/dd/yyyy")</td>
                        <td>@item.Acct</td>
                        <td>@item.OffsetAcctNumber</td>
                        <td>@item.TotalFees</td>
                        <td>@item.NationalFees</td>
                        <td>@item.Vat</td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.Count() == 0)
        {
            <div class="">
                <div class="text-center alert alert-danger_inner">
                    <p class="m-3">no record found!</p>
                </div>
            </div>
        }

        @if (Model.Count() > 0)
        {
            <div class="col-md-12">
                <div class="row">
                    <ul class="pagination">
                        @Html.Raw(ViewBag.Paging)
                    </ul>
                </div>
            </div>
        }
    </div>

    </div>
<script>
    $(document).ready(function() {
        $('#example').dataTable({
        });
    }
        $(document).ready(function() {
        $("#example").datatable();
    });
</script>